.main {
  margin-left: 10px; 
  float: left; 
  display: inline; 
  width: 80%;
  margin-right: 5px;
  }
  

ul {
  color: white;
  background-color: #30ba75;
  border: 5px solid #30ba75;
  border-radius: 5px;
  width: 100%;
  }
  
li {
  display: inline;
  }  
  
nav li a { 
  color: white;
  text-decoration: none;
  font-family: Calibri, sans-serif;
  font-size: 20px;
  padding: 5px;
  }  
  
nav li a:hover {
  color: white;
  background-color: #4cfca4;
  text-decoration: none;
}  

h2, h3, h4 {
  color: #30ba75;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

h3 a:hover, section a:hover {
  color: #30ba75;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

p {
  font-family: Calibri, sans-serif;
}


.heading {
  width: 100%;
}

section a {
  color: #30ba75;
  text-decoration: none;
}

h5 {
  color: black;
  font-family: Calibri, sans-serif;
}

.profile {
  float: left; 
  display: inline; 
  width: 10%;
  }
  
  .profile img {
    height: 100px;
    width: 80px;
    border-radius: 50%;
  }
  
  
  .aboutp img {
    float: left;
    display: inline;
    height: 100px;
    width: 80px;
    border-radius: 50%;
  }
  
  .aboutp p {
  float: left;
  display: inline;
  width: 80%;
  margin-left: 10px;
  }
 
