.main {
  margin-left: 10px; 
  }
  
nav {
  
}

ul {
  color: white;
  background-color: #30ba75;
  border: 5px solid #30ba75;
  border-radius: 5px;
  width: 100%;
  }
  
li {display: inline;
  }  
  
nav li a { 
  color: white;
  text-decoration: none;
  font-family: Calibri, sans-serif;
  margin-right: 10px;
  font-size: 20px;
  padding: 5px;
  }  
  
nav li a:hover {
  color: white;
  background-color: #4cfca4;
  text-decoration: none;
}  

h2, h3, h4 {
  color: #30ba75;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}

h3 a:hover, section a:hover {
  color: #30ba75;
}

h2 {
  text-align: center;
}

p {
  font-family: Calibri, sans-serif;
}

img {
  width: 100%;
}

section a {
  color: #30ba75;
}

h6 {
  color: black;
}
